go 1.21.1

use (
	./week-1/day-1/hello
	./week-1/day-1/non-graded-1
	./week-1/day-1/pm-challenge
	./week-1/day-2/excercises
	./week-1/day-2/func
	./week-1/day-2/non-graded-2
	./week-1/day-2/non-graded-3
	./week-1/day-2/non-graded-4
	./week-1/day-3/excercises
	./week-1/day-3/importexport
	./week-1/day-3/non-graded-5
	./week-1/day-4/quiz
	./week-1/day-5/excercises
	./week-1/day-5/generics
	./week-1/day-5/interface2
	./week-1/day-5/non-graded-6/airport_robot
	./week-1/day-5/non-graded-6/engineer
	./week-2/day-1/preview/biodata
	./week-2/day-1/preview/calculator
	./week-2/day-1/preview/ganjilgenap
	./week-2/day-2/excercise/channels/buffer-unbuffered/buffered
	./week-2/day-2/excercise/channels/buffer-unbuffered/unbuffered
	./week-2/day-2/excercise/channels/calculator
	./week-2/day-2/excercise/channels/calculator2
	./week-2/day-2/excercise/channels/calculator3
	./week-2/day-2/excercise/channels/calculator4
	./week-2/day-2/excercise/channels/introduce
	./week-2/day-2/excercise/defer
	./week-2/day-2/excercise/goroutines/channel-image-processing
	./week-2/day-2/excercise/goroutines/factorial
	./week-2/day-2/excercise/goroutines/fundamental
	./week-2/day-2/excercise/goroutines/image-processing
	./week-2/day-2/excercise/goroutines/logging
	./week-2/day-2/excercise/goroutines/sendEmail
	./week-2/day-2/excercise/goroutines/sendEmail2
	./week-2/day-2/excercise/goroutines/sendEmailSync
	./week-2/day-2/non-graded-7/download-manager
	./week-2/day-2/non-graded-7/goroutine1
	./week-2/day-2/non-graded-7/goroutine2
	./week-2/day-2/non-graded-7/goroutine3
	./week-2/day-2/non-graded-7/task-scheduler
	./week-2/day-2/non-graded-8/channel1
	./week-2/day-2/non-graded-8/channel2
	./week-2/day-2/non-graded-8/channel3
	./week-2/day-2/non-graded-8/sum-of-squares
	./week-2/day-2/non-graded-8/word-count
	./week-2/day-2/non-graded-9/defer1
	./week-2/day-2/non-graded-9/defer2
	./week-2/day-3/excercise/password-length
	./week-2/day-3/excercise/profiling/case1
	./week-2/day-3/excercise/profiling/case2
	./week-2/day-3/non-graded-9/anagram
	./week-2/day-3/non-graded-9/kalkulator
	./week-2/day-3/non-graded-9/log-analyzer
	./week-2/day-3/presentation/anagram-pprof
	./week-2/day-3/presentation/kalkulator-pprof
	./week-3/day-1/preview/file-processing
	./week-3/day-1/preview/word-count
	./week-3/day-4/basic
	./week-3/day-4/database
	./week-3/day-4/non-graded-15
	./week-3/day-4/structured-non-graded-15
)
