go 1.21.1

use (
	./week-1/day-1/hello
	./week-1/day-1/non-graded-1
	./week-1/day-1/pm-challenge
	./week-1/day-2/excercises
	./week-1/day-2/func
	./week-1/day-2/non-graded-2
	./week-1/day-2/non-graded-3
	./week-1/day-2/non-graded-4
	./week-1/day-3/excercises
	./week-1/day-3/importexport
	./week-1/day-3/non-graded-5
	./week-1/day-4/quiz
	./week-1/day-5/excercises
	./week-1/day-5/generics
	./week-1/day-5/interface2
	./week-1/day-5/non-graded-6/airport_robot
	./week-1/day-5/non-graded-6/engineer
	./week-2/day-1/preview/biodata
	./week-2/day-1/preview/calculator
	./week-2/day-1/preview/ganjilgenap
	./week-2/day-2/excercise/fundamental
)
